################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Webster_E02/.vs
/PointerPEStarterFiles/PointerPEStarterFiles/ConsoleApplication10/.vs/ConsoleApplication10/v15
